<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\DangerClose.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout\WiFi{C0MM0N_S3NS1T1VE_F1LE}"
                  hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>